<form class="input-group-form" [formGroup]="user" (ngSubmit)="tryRegister()">
  <h4>Create your account</h4>
  <igx-input-group>
    <label igxLabel for="fullName">Full Name</label>
    <input igxInput name="fullName" type="text" formControlName="fullName" />
    <igx-suffix>
      <igx-icon>person</igx-icon>
    </igx-suffix>
    <igx-hint *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
      <div *ngIf="fullName.errors.required">
        Name is required.
      </div>
    </igx-hint>
  </igx-input-group>
  <igx-input-group>
    <label igxLabel for="email">Email address</label>
    <input igxInput name="email" type="email" formControlName="email" />
    <igx-suffix>
      <igx-icon>email</igx-icon>
    </igx-suffix>
    <igx-hint *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email is required.
      </div>
      <div *ngIf="email.errors.emailExists">
        User with this email is already registered.
      </div>
    </igx-hint>
  </igx-input-group>
  <igx-input-group>
    <label igxLabel for="password">Password</label>
    <input igxInput name="password" type="password" formControlName="password" />
    <igx-suffix>
      <igx-icon>lock</igx-icon>
    </igx-suffix>
    <igx-hint *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.minlength">
        Password must be at least 8 characters long.
      </div>
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
    </igx-hint>
  </igx-input-group>
  <button igxButton="raised" type="submit" igxRipple [disabled]="!user.valid">SIGN UP</button>
</form>
